<%= render 'friends/lookup' %>
<div class="row">
<% if @friendships.size > 0 %>
      <div class="col-md-12">
        <h1>My Friends</h1>
      </div>


      <% @friendships.each do |friend| %>
          <div class="col-md-4 ">
            <div class="friend">
            <%=  link_to "#{friend.full_name}", user_path(friend) %> <br />
            <%= friend.email %><br />
            <%=  link_to 'Unfriend', friendship_path(friend),
                         :method => :delete,
                         :data => { :confirm => 'Are you sure?'},
                         class: 'btn btn-sm btn-danger' %>
            </div>
          </div>
      <% end %>


<% else %>
    <div class="col-md-12">
      <h2>You have no friends.</h2>
    </div>
<% end %>
</div>