a:hover {
  text-decoration: none;
}

.results-block {
  display: inline-block;

  .label {
    display: block;
  }
}

.user-name {
  padding: 15px;
  font-weight: 600;
  position: relative;
  display: block;
}

.friend {
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 15px;
  a {
    font-weight: bold;
  }

}



